<!-- Add your styles or classes as needed -->
<body><div class="password-container" >
  <h1 style="text-align: center; color: black;">Forgot Password</h1>
  <br />

  <ng-container *ngIf="!securityQuestions">
    <p style="color: black; text-align: center;">
      Enter your registered Email to reset your password.
    </p>
    <br />
    <input
      type="text"
      name="email"
      [(ngModel)]="user.email"
      (change)="handleChange($event)"
      placeholder="Enter your Email"
    />
    <br /><br />
    <button class="button" (click)="resetPassword()">Next</button>
  </ng-container>

  <ng-container *ngIf="securityQuestions && !showPasswordFields">
    <p style="color: black; text-align: center; ">
      Answer the security questions to verify your identity.
    </p>
    <br />
    <div>
      <p style="color: black; ">{{ securityQuestions.securityQuestion1 }}</p>
      <input
        type="text"
        name="securityAnswer1"
        [(ngModel)]="user.securityAnswer1"
        (change)="handleChange($event)"
        placeholder="Answer to Security Question 1"
      />
      <p class="error-message">{{ validationErrors.securityAnswer1 }}</p>
    </div>
    <div>
      <p style="color: black; ">{{ securityQuestions.securityQuestion2 }}</p>
      <input
        type="text"
        name="securityAnswer2"
        [(ngModel)]="user.securityAnswer2"
        (change)="handleChange($event)"
        placeholder="Answer to Security Question 2"
      />
      <p class="error-message">{{ validationErrors.securityAnswer2 }}</p>
    </div>
    <button class="button" (click)="resetPassword()">Next</button>
  </ng-container>

  <ng-container *ngIf="securityQuestions && showPasswordFields">
    <div>
      <p style="color: black; ">New Password</p>
      <input
        type="password"
        name="newPassword"
        [(ngModel)]="user.newPassword"
        (change)="handleChange($event)"
        placeholder="Enter new password"
      />
      <p class="error-message">{{ validationErrors.newPassword }}</p>
    </div>
    <div>
      <p style="color: black;">Confirm Password</p>
      <input
        type="password"
        name="confirmPassword"
        [(ngModel)]="user.confirmPassword"
        (change)="handleChange($event)"
        placeholder="Confirm new password"
      />
      <p class="error-message">{{ validationErrors.confirmPassword }}</p>
    </div>
    <button class="submitbutton"
      mat-raised-button
      color="primary"
      (click)="submitNewPassword()"
    >
      Reset Password
    </button>
  </ng-container>

  <p class="error-message">{{ validationErrors.email }}</p>
  <p class="error-message">{{ securityAnswerError }}</p>
</div>
</body>
