/* Add your styles or classes as needed */

.password-container {
  width: 500px;
  margin-left: 500px;
 margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
}
body{
  background-image: url('/assets/img/1.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;

}
h1 {
  text-align: center;
}

p {
  color: black;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button, .submitbutton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover, .submitbutton:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 5px;
}

/* Centering ng-container content */
ng-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
