<body>
  <div >
    <div class="admin-row">
      <div class="col-sm-12">
        <div class="Userlogin-container">
         
          <div class="login-form">
            <h2 class="text-center mb-4">Admin Login</h2>
            <form #loginForm="ngForm" (ngSubmit)="handleLoginSubmit(loginForm)">
              <div class="form-group">
                <label>UserName</label>
                <input class="user" type="text" name="username" [(ngModel)]="username" required placeholder="Enter username" />
              </div>
              <div class="form-group">
                <label>Password</label>
                <input class="user" type="password" name="password" [(ngModel)]="password" required placeholder="Enter Password" />
              </div>
              <div>
                <label>Enter the below code</label>
                <div class="captcha-container">
                  <input class="user" type="text" name="userCaptcha" [(ngModel)]="userCaptcha" />
                  
                </div>
                <br />
                <strong>{{ captchaValue }}</strong>
                <i class="fas fa-sync-alt refresh-icon" (click)="generateCaptcha()"></i>
              </div>
              
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


