

<body>
        <div class="inputcontainer">


            <h2>Family Members Vaccine Slot Booking</h2>

            <table class="member-table">
                <tr *ngFor="let member of familyMembers; let i = index" class="member-row">
                    <td>
                        <label for="id{{i}}">ID:</label>
                        <input type="text" id="id{{i}}" class="form-control id-field" disabled [value]="member.id">
                    </td>
                    <td>
                        <label for="name{{i}}">Name:</label>
                        <input type="text" id="name{{i}}" class="form-control name-field" [(ngModel)]="member.name"
                            required>
                    </td>
                    <td>
                        <label for="age{{i}}">Age:</label>
                        <input type="number" id="age{{i}}" class="form-control age-field" [(ngModel)]="member.age"
                            required>
                    </td>
                    <td>
                        <div class="form-group">
                            <label for="vaccine{{i}}" id="selectvaccine">Vaccine:</label>
                            <select id="vaccine{{i}}" class="form-control vaccine-field" [(ngModel)]="member.vaccine"
                                required>

                                <option value="" disabled>Select Vaccine</option>
                                <option *ngFor="let vaccine of vaccines" [value]="vaccine.name">{{ vaccine.name }}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <label for="date{{i}}">Date:</label>
                        <input type="date" id="date{{i}}" class="form-control date-field" [(ngModel)]="member.date"
                            required>
                    </td>

                    <td>
                        <label for="time{{i}}">Time:</label>
                        <input type="time" id="time{{i}}" class="form-control time-field" [(ngModel)]="member.time"
                            required>
                    </td>
                    <td>
                        <button (click)="deleteMember(i)" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </table>

            <button (click)="addMember()" class="btn btn-success bt-success">Add Member</button>
            <div><br>
                <button (click)="bookSlot()" class="btn btn-primary bt-bookslot">Book Slot</button>
            </div>
        </div>
    </body>