
   
<body>
    <div *ngIf="bookedSlots.length === 0; else tableContent">
      <p class="body">No booked slot found for your family members </p>
    </div>
   
    
    <ng-template #tableContent>  
     
      <h2 style="text-align: center; color: white; margin-bottom: 20px; margin-top:100px">Family Members Slot</h2>
      <table >
       
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Vaccine</th>
            <th>Date</th>
            <th>Time</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let slot of bookedSlots; let i = index">
            <tr *ngIf="!editingSlotId || editingSlotId !== slot.id; else editMode">
              <!-- Display mode -->
              <td>{{ slot.id }}</td>
              <td>{{ slot.name }}</td>
              <td>{{ slot.age }}</td>
              <td>{{ slot.vaccine }}</td>
              <td>{{ slot.date }}</td>
              <td>{{ slot.time }}</td>
              <td>
                <button (click)="handleReschedule(slot.id)" class="button-container re-btn">Reschedule</button>
                <button (click)="handleDelete(slot.id)" class="button-container del-btn">Delete</button>
              </td>
            </tr>
    
            <ng-template #editMode>
              <!-- Edit mode -->
              <tr>
                <td>{{ editedSlots[i].id }}</td>
                <td>{{ editedSlots[i].name }}</td>
                <td>{{ editedSlots[i].age }}</td>
                <td>{{ editedSlots[i].vaccine }}</td>
                <!-- Allow editing for Date and Time -->
                <td><input type="date" [(ngModel)]="editedSlots[i].date" name="date" /></td>
                <td><input type="time" [(ngModel)]="editedSlots[i].time" name="time" /></td>
                <td>
                  <button (click)="handleSaveReschedule(i)" class="save-btn button-container">Save</button>
                  <button (click)="handleCancelReschedule(i)" class="cancel-btn button-container">Cancel</button>
                </td>
              </tr>
            </ng-template>
          </ng-container>
        </tbody>
      </table>
      
    </ng-template>
  </body>