

<body>
<div *ngIf="user" class="user-profile-container">
    <h2> Profile</h2>
  
    <div class="form-row">
      <label>Email ID:</label>
      <span>{{ user.email }}</span>
    </div>
  
    <div class="form-row">
      <label>Username:</label>
      <span>{{ user.username }}</span>
    </div>
  
    <div class="form-row">
      <label>Date of Birth:</label>
      <span *ngIf="isEditing">
        <input type="date" [(ngModel)]="user.dob" />
      </span>
      <span *ngIf="!isEditing">{{ user.dob }}</span>
    </div>
  
    <div class="form-row">
      <label>Mobile:</label>
      <span *ngIf="isEditing">
        <input type="number" [(ngModel)]="user.phoneNumber" />
      </span>
      <span *ngIf="!isEditing">{{ user.phoneNumber }}</span>
    </div>
  
    <div class="form-row">
      <label>Address:</label>
      <span *ngIf="isEditing">
        <textarea [(ngModel)]="user.address"></textarea>
      </span>
      <span *ngIf="!isEditing">{{ user.address }}</span>
    </div>
  
    <div class="form-row">
      <label>Gender:</label>
      <span *ngIf="isEditing">
        <select  [(ngModel)]="user.gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </span>
      <span *ngIf="!isEditing">{{ user.gender }}</span>
    </div>
  
    <div class="form-row">
      <div *ngIf="isEditing">
        <div class="button-container"></div>
        <button class="save" (click)="saveChanges()">Save </button>
        <button class="cancel" (click)="toggleEdit()">Cancel</button>
      </div>
      <div *ngIf="!isEditing" class="form-row">
        <button class="edit" (click)="toggleEdit()">Edit Profile</button>
      </div>
    </div>
  </div>
</body>
